
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <img src="assets/img/A-64.png" style="width: 2rem;">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Heroes">Heroes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">about</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" (keyup)="cargar(textobusqueda.value)" (keypress)="regresar()" #textobusqueda>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscar()">Search</button>
      </form>
      
    </div>
  </nav> 